{% extends 'index.html' %}
{% block add_anec%}
<div class="add_anec">
    <a href=" {% url 'add_anec' %}">+ Добавить анекдот</a>
</div>
{% endblock %}
{% block anecs %}
{% for anec in anecs %}
<div class="anec">
    <p>{{anec.text}}</p>
    <div class="first_str">
    <div><a href="{% url 'cats' anec.category_id %}" class="cat_in_anec">{{anec.category}}</a></div>
    <div><a href="{% url 'detail_anec' anec.pk%}" class="comments_link">Комментарии</a></div>

        </div>
    <div class="date">{{anec.pub_date}}</div>
</div>
{% endfor %}
{% endblock %}
{{ page_obj.paginator.get_page }}


