{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <div class="nav">
        <div class="main">
            <h1><a href="{% url 'home' %}" class="navlinks">Анекдоты</a></h1>
        </div>
        <div class="cats">
            {% include "_navbar.html"%}
        </div>

            {% if user.is_authenticated %}
<div class="auth">
    <div class="hi">Привет, {{user.username}}!</div>
    <div class="nav_btn">
        <a href=" {%url 'logout'%}">
            <button class="btn">Выход</button>
        </a>
    </div>
</div>
{% else %}
<div class="auth">
    <div class="nav_btn">
        <a href="{% url 'login'%}">
            <button class="btn">Вход</button>
        </a>
    </div>
    <div class="nav_btn">
        <a href="{% url 'signup'%}">
            <button class="btn">Регистрация</button>
        </a>
    </div>
</div>
{% endif %}
        </div>

</header>
<main>
{% block add_anec%}
{% endblock %}

<div class="content">
    {% block anecs %}
    {% endblock %}
</div>
{% block login %}
{% endblock %}
{% block new_anec %}
{% endblock %}


{% if page_obj.has_other_pages%}
<div class = paginator>
{% for p in page_obj.paginator.page_range %}
{% if page_obj.number == p %}
    <a href="?page={{p}}" class="current_page">{{p}}</a>
{%else%}
    <a href="?page={{p}}" class="pages">{{p}}</a>
{%endif%}
{% endfor %}
</div>
{% endif %}
</main>

<footer>
    <div class="links">
        <div class="about"><a href="">Об авторе</a></div>
        <div class="about"><a href="">О проекте</a></div>
    </div>
</footer>
</body>
</html>